hydro-one-sharepoint-migration-poc/adf-templates/pipelines/PL_Incremental_Sync.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": {
                "description": "Name of the Azure Data Factory instance"
            }
        }
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/PL_Incremental_Sync')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "Production delta/incremental synchronization pipeline using Microsoft Graph API delta query. Handles pagination via Until loop with @odata.nextLink, refreshes OAuth2 token every 45 minutes, persists deltaLink for true incremental sync, and processes libraries sequentially to avoid variable scoping conflicts.",
                "activities": [
                    {
                        "name": "Get_ClientSecret",
                        "description": "Retrieve Service Principal client secret from Key Vault",
                        "type": "WebActivity",
                        "dependsOn": [],
                        "policy": { "timeout": "0.00:05:00", "retry": 2, "retryIntervalInSeconds": 30, "secureOutput": true, "secureInput": false },
                        "userProperties": [],
                        "typeProperties": {
                            "method": "GET",
                            "url": { "value": "@concat(pipeline().parameters.KeyVaultUrl, '/secrets/sharepoint-client-secret?api-version=7.0')", "type": "Expression" },
                            "authentication": { "type": "MSI", "resource": "https://vault.azure.net" }
                        }
                    },
                    {
                        "name": "Get_AccessToken",
                        "description": "Acquire OAuth2 token for Microsoft Graph API",
                        "type": "WebActivity",
                        "dependsOn": [ { "activity": "Get_ClientSecret", "dependencyConditions": ["Succeeded"] } ],
                        "policy": { "timeout": "0.00:05:00", "retry": 2, "retryIntervalInSeconds": 30, "secureOutput": true, "secureInput": true },
                        "userProperties": [],
                        "typeProperties": {
                            "method": "POST",
                            "headers": { "Content-Type": "application/x-www-form-urlencoded" },
                            "url": { "value": "@concat('https://login.microsoftonline.com/', pipeline().parameters.ServicePrincipalTenantId, '/oauth2/v2.0/token')", "type": "Expression" },
                            "body": { "value": "@concat('grant_type=client_credentials&client_id=', pipeline().parameters.ServicePrincipalId, '&client_secret=', encodeUriComponent(activity('Get_ClientSecret').output.value), '&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default')", "type": "Expression" }
                        }
                    },
                    {
                        "name": "Set_AccessToken",
                        "type": "SetVariable",
                        "dependsOn": [ { "activity": "Get_AccessToken", "dependencyConditions": ["Succeeded"] } ],
                        "policy": { "secureOutput": true, "secureInput": true },
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "AccessToken",
                            "value": { "value": "@activity('Get_AccessToken').output.access_token", "type": "Expression" }
                        }
                    },
                    {
                        "name": "Set_TokenAcquiredTime",
                        "type": "SetVariable",
                        "dependsOn": [ { "activity": "Set_AccessToken", "dependencyConditions": ["Succeeded"] } ],
                        "policy": { "secureOutput": false, "secureInput": false },
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "TokenAcquiredTime",
                            "value": { "value": "@utcNow()", "type": "Expression" }
                        }
                    },
                    {
                        "name": "Lookup_LibrariesForSync",
                        "type": "Lookup",
                        "dependsOn": [ { "activity": "Set_TokenAcquiredTime", "dependencyConditions": ["Succeeded"] } ],
                        "policy": { "timeout": "0.00:10:00", "retry": 3, "retryIntervalInSeconds": 30, "secureOutput": false, "secureInput": false },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "AzureSqlSource",
                                "sqlReaderQuery": "SELECT mc.Id, mc.SiteUrl, mc.LibraryName, ISNULL(iw.LastModifiedDate, '1900-01-01') AS LastModifiedDate, ISNULL(iw.LastSyncTime, '1900-01-01') AS LastSyncTime, iw.DeltaLink, iw.DriveId FROM dbo.MigrationControl mc LEFT JOIN dbo.IncrementalWatermark iw ON mc.SiteUrl = iw.SiteUrl AND mc.LibraryName = iw.LibraryName WHERE mc.Status = 'Completed' AND mc.EnableIncrementalSync = 1",
                                "queryTimeout": "00:05:00",
                                "partitionOption": "None"
                            },
                            "dataset": {
                                "referenceName": "DS_SQL_MigrationControl",
                                "type": "DatasetReference",
                                "parameters": {
                                    "SchemaName": "dbo",
                                    "TableName": "MigrationControl"
                                }
                            },
                            "firstRowOnly": false
                        }
                    },
                    {
                        "name": "ForEach_LibrarySync",
                        "type": "ForEach",
                        "dependsOn": [ { "activity": "Lookup_LibrariesForSync", "dependencyConditions": ["Succeeded"] } ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": { "value": "@activity('Lookup_LibrariesForSync').output.value", "type": "Expression" },
                            "isSequential": true,
                            "activities": [
                                {
                                    "name": "Get_Drive",
                                    "description": "Resolve SharePoint site to Graph drive ID (skip if DriveId already stored)",
                                    "type": "WebActivity",
                                    "dependsOn": [],
                                    "policy": { "timeout": "0.00:05:00", "retry": 5, "retryIntervalInSeconds": 30, "secureOutput": false, "secureInput": true },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "method": "GET",
                                        "headers": {
                                            "Authorization": { "value": "@concat('Bearer ', variables('AccessToken'))", "type": "Expression" }
                                        },
                                        "url": { "value": "@concat('https://graph.microsoft.com/v1.0/sites/', replace(replace(pipeline().parameters.SharePointTenantUrl, 'https://', ''), '/', ''), ':', item().SiteUrl, ':/drive?$select=id,name')", "type": "Expression" }
                                    }
                                },
                                {
                                    "name": "Set_InitialDeltaUrl",
                                    "description": "Use stored deltaLink if available, otherwise start fresh delta query",
                                    "type": "SetVariable",
                                    "dependsOn": [ { "activity": "Get_Drive", "dependencyConditions": ["Succeeded"] } ],
                                    "policy": { "secureOutput": false, "secureInput": false },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "variableName": "CurrentPageUrl",
                                        "value": { "value": "@if(and(not(equals(coalesce(item().DeltaLink, ''), '')), greater(length(coalesce(item().DeltaLink, '')), 0)), item().DeltaLink, concat('https://graph.microsoft.com/v1.0/drives/', activity('Get_Drive').output.id, '/root/delta?$top=', string(pipeline().parameters.PageSize)))", "type": "Expression" }
                                    }
                                },
                                {
                                    "name": "Set_HasMorePages_True",
                                    "description": "Reset pagination flag for this library",
                                    "type": "SetVariable",
                                    "dependsOn": [ { "activity": "Set_InitialDeltaUrl", "dependencyConditions": ["Succeeded"] } ],
                                    "policy": { "secureOutput": false, "secureInput": false },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "variableName": "HasMorePages",
                                        "value": { "value": "@bool(true)", "type": "Expression" }
                                    }
                                },
                                {
                                    "name": "Until_AllDeltaPagesProcessed",
                                    "description": "Paginate through all delta pages for this library",
                                    "type": "Until",
                                    "dependsOn": [ { "activity": "Set_HasMorePages_True", "dependencyConditions": ["Succeeded"] } ],
                                    "userProperties": [],
                                    "typeProperties": {
                                        "expression": { "value": "@equals(variables('HasMorePages'), false)", "type": "Expression" },
                                        "activities": [
                                            {
                                                "name": "Refresh_ClientSecret",
                                                "description": "Retrieve fresh client secret from Key Vault each iteration",
                                                "type": "WebActivity",
                                                "dependsOn": [],
                                                "policy": { "timeout": "0.00:05:00", "retry": 2, "retryIntervalInSeconds": 30, "secureOutput": true, "secureInput": false },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "method": "GET",
                                                    "url": { "value": "@concat(pipeline().parameters.KeyVaultUrl, '/secrets/sharepoint-client-secret?api-version=7.0')", "type": "Expression" },
                                                    "authentication": { "type": "MSI", "resource": "https://vault.azure.net" }
                                                }
                                            },
                                            {
                                                "name": "Refresh_AccessToken",
                                                "description": "Acquire OAuth2 token (AAD returns cached token if still valid)",
                                                "type": "WebActivity",
                                                "dependsOn": [ { "activity": "Refresh_ClientSecret", "dependencyConditions": ["Succeeded"] } ],
                                                "policy": { "timeout": "0.00:05:00", "retry": 2, "retryIntervalInSeconds": 30, "secureOutput": true, "secureInput": true },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "method": "POST",
                                                    "headers": { "Content-Type": "application/x-www-form-urlencoded" },
                                                    "url": { "value": "@concat('https://login.microsoftonline.com/', pipeline().parameters.ServicePrincipalTenantId, '/oauth2/v2.0/token')", "type": "Expression" },
                                                    "body": { "value": "@concat('grant_type=client_credentials&client_id=', pipeline().parameters.ServicePrincipalId, '&client_secret=', encodeUriComponent(activity('Refresh_ClientSecret').output.value), '&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default')", "type": "Expression" }
                                                }
                                            },
                                            {
                                                "name": "Set_RefreshedToken",
                                                "type": "SetVariable",
                                                "dependsOn": [ { "activity": "Refresh_AccessToken", "dependencyConditions": ["Succeeded"] } ],
                                                "policy": { "secureOutput": true, "secureInput": true },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "variableName": "AccessToken",
                                                    "value": { "value": "@activity('Refresh_AccessToken').output.access_token", "type": "Expression" }
                                                }
                                            },
                                            {
                                                "name": "Get_DeltaPage",
                                                "description": "Fetch current page of delta results from Graph API",
                                                "type": "WebActivity",
                                                "dependsOn": [ { "activity": "Set_RefreshedToken", "dependencyConditions": ["Succeeded"] } ],
                                                "policy": { "timeout": "0.00:10:00", "retry": 5, "retryIntervalInSeconds": 60, "secureOutput": false, "secureInput": true },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "method": "GET",
                                                    "headers": {
                                                        "Authorization": { "value": "@concat('Bearer ', variables('AccessToken'))", "type": "Expression" }
                                                    },
                                                    "url": { "value": "@variables('CurrentPageUrl')", "type": "Expression" }
                                                }
                                            },
                                            {
                                                "name": "Filter_DeltaFiles",
                                                "description": "Filter delta page to only file items (exclude folders and deleted items)",
                                                "type": "Filter",
                                                "dependsOn": [ { "activity": "Get_DeltaPage", "dependencyConditions": ["Succeeded"] } ],
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "items": { "value": "@activity('Get_DeltaPage').output.value", "type": "Expression" },
                                                    "condition": { "value": "@and(contains(string(item()), '\"file\"'), not(contains(string(item()), '\"deleted\"')))", "type": "Expression" }
                                                }
                                            },
                                            {
                                                "name": "Execute_CopyFileBatch",
                                                "description": "Delegate file copying to child pipeline (works around ADF restriction on ForEach inside Until)",
                                                "type": "ExecutePipeline",
                                                "dependsOn": [ { "activity": "Filter_DeltaFiles", "dependencyConditions": ["Succeeded"] } ],
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "pipeline": { "referenceName": "PL_Copy_File_Batch", "type": "PipelineReference" },
                                                    "waitOnCompletion": true,
                                                    "parameters": {
                                                        "FileItems": { "value": "@activity('Filter_DeltaFiles').output.value", "type": "Expression" },
                                                        "DriveId": { "value": "@activity('Get_Drive').output.id", "type": "Expression" },
                                                        "AccessToken": { "value": "@variables('AccessToken')", "type": "Expression" },
                                                        "ContainerName": { "value": "@pipeline().parameters.ContainerName", "type": "Expression" },
                                                        "SiteName": { "value": "@replace(item().SiteUrl, '/sites/', '')", "type": "Expression" },
                                                        "LibraryName": { "value": "@item().LibraryName", "type": "Expression" },
                                                        "FolderPath": "",
                                                        "SourcePathPrefix": { "value": "@concat(item().SiteUrl, '/', item().LibraryName)", "type": "Expression" },
                                                        "DestPathPrefix": { "value": "@concat(pipeline().parameters.ContainerName, '/', replace(item().SiteUrl, '/sites/', ''), '/', item().LibraryName)", "type": "Expression" },
                                                        "MigrationStatus": "IncrementalSync",
                                                        "ParentRunId": { "value": "@pipeline().RunId", "type": "Expression" }
                                                    }
                                                }
                                            },
                                            {
                                                "name": "Set_HasMorePages",
                                                "description": "Set pagination flag based on presence of @odata.nextLink",
                                                "type": "SetVariable",
                                                "dependsOn": [ { "activity": "Execute_CopyFileBatch", "dependencyConditions": ["Succeeded"] } ],
                                                "policy": { "secureOutput": false, "secureInput": false },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "variableName": "HasMorePages",
                                                    "value": { "value": "@contains(string(activity('Get_DeltaPage').output), '@odata.nextLink')", "type": "Expression" }
                                                }
                                            },
                                            {
                                                "name": "Set_CurrentPageUrl_Next",
                                                "description": "Update page URL to nextLink if present",
                                                "type": "SetVariable",
                                                "dependsOn": [ { "activity": "Set_HasMorePages", "dependencyConditions": ["Succeeded"] } ],
                                                "policy": { "secureOutput": false, "secureInput": false },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "variableName": "CurrentPageUrl",
                                                    "value": { "value": "@if(contains(string(activity('Get_DeltaPage').output), '@odata.nextLink'), activity('Get_DeltaPage').output['@odata.nextLink'], '')", "type": "Expression" }
                                                }
                                            },
                                            {
                                                "name": "Set_DeltaLink",
                                                "description": "Capture deltaLink from last page for next incremental sync",
                                                "type": "SetVariable",
                                                "dependsOn": [ { "activity": "Set_CurrentPageUrl_Next", "dependencyConditions": ["Succeeded"] } ],
                                                "policy": { "secureOutput": false, "secureInput": false },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "variableName": "DeltaLink",
                                                    "value": { "value": "@if(contains(string(activity('Get_DeltaPage').output), '@odata.deltaLink'), activity('Get_DeltaPage').output['@odata.deltaLink'], '')", "type": "Expression" }
                                                }
                                            },
                                            {
                                                "name": "Wait_ThrottleDelay",
                                                "description": "Wait between pages to avoid Graph API throttling",
                                                "type": "Wait",
                                                "dependsOn": [ { "activity": "Set_DeltaLink", "dependencyConditions": ["Succeeded"] } ],
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "waitTimeInSeconds": { "value": "@pipeline().parameters.ThrottleDelaySeconds", "type": "Expression" }
                                                }
                                            }
                                        ],
                                        "timeout": "1.00:00:00"
                                    }
                                },
                                {
                                    "name": "Update_Watermark",
                                    "type": "SqlServerStoredProcedure",
                                    "dependsOn": [ { "activity": "Until_AllDeltaPagesProcessed", "dependencyConditions": ["Succeeded"] } ],
                                    "policy": { "timeout": "0.00:05:00", "retry": 2, "retryIntervalInSeconds": 30, "secureOutput": false, "secureInput": false },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "storedProcedureName": "[[dbo].[usp_UpdateWatermark]",
                                        "storedProcedureParameters": {
                                            "SiteUrl": { "value": { "value": "@item().SiteUrl", "type": "Expression" }, "type": "String" },
                                            "LibraryName": { "value": { "value": "@item().LibraryName", "type": "Expression" }, "type": "String" },
                                            "LastModifiedDate": { "value": { "value": "@utcNow()", "type": "Expression" }, "type": "DateTime" },
                                            "LastSyncTime": { "value": { "value": "@utcNow()", "type": "Expression" }, "type": "DateTime" },
                                            "DeltaLink": { "value": { "value": "@variables('DeltaLink')", "type": "Expression" }, "type": "String" },
                                            "DriveId": { "value": { "value": "@activity('Get_Drive').output.id", "type": "Expression" }, "type": "String" }
                                        }
                                    },
                                    "linkedServiceName": { "referenceName": "LS_AzureSqlDatabase", "type": "LinkedServiceReference" }
                                }
                            ]
                        }
                    },
                    {
                        "name": "Log_SyncComplete",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [ { "activity": "ForEach_LibrarySync", "dependencyConditions": ["Succeeded"] } ],
                        "policy": { "timeout": "0.00:05:00", "retry": 2, "retryIntervalInSeconds": 30, "secureOutput": false, "secureInput": false },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[dbo].[usp_LogSyncRun]",
                            "storedProcedureParameters": {
                                "PipelineRunId": { "value": { "value": "@pipeline().RunId", "type": "Expression" }, "type": "String" },
                                "SyncType": { "value": "Incremental", "type": "String" },
                                "LibrariesProcessed": { "value": { "value": "@activity('Lookup_LibrariesForSync').output.count", "type": "Expression" }, "type": "Int32" },
                                "CompletionTime": { "value": { "value": "@utcNow()", "type": "Expression" }, "type": "DateTime" }
                            }
                        },
                        "linkedServiceName": { "referenceName": "LS_AzureSqlDatabase", "type": "LinkedServiceReference" }
                    }
                ],
                "parameters": {
                    "SharePointTenantUrl": { "type": "string", "defaultValue": "https://m365x52073746.sharepoint.com" },
                    "ContainerName": { "type": "string", "defaultValue": "sharepoint-migration" },
                    "ServicePrincipalId": { "type": "string", "defaultValue": "bca94bda-c22c-4cd6-a065-72b12ae88c91" },
                    "ServicePrincipalTenantId": { "type": "string", "defaultValue": "5447cfcd-3af1-439a-8157-760bd52b12df" },
                    "KeyVaultUrl": { "type": "string", "defaultValue": "https://kv-hydroone-test2.vault.azure.net" },
                    "PageSize": { "type": "int", "defaultValue": 200 },
                    "ThrottleDelaySeconds": { "type": "int", "defaultValue": 2 },
                    "CopyBatchCount": { "type": "int", "defaultValue": 10 }
                },
                "variables": {
                    "AccessToken": { "type": "String", "defaultValue": "" },
                    "TokenAcquiredTime": { "type": "String", "defaultValue": "" },
                    "HasMorePages": { "type": "Boolean", "defaultValue": true },
                    "CurrentPageUrl": { "type": "String", "defaultValue": "" },
                    "DeltaLink": { "type": "String", "defaultValue": "" }
                },
                "annotations": [ "incremental-sync", "delta-migration", "hydro-one-migration", "graph-api", "paginated", "production" ],
                "folder": { "name": "SharePoint Migration" }
            }
        }
    ]
}
