hydro-one-sharepoint-migration-poc/adf-templates/pipelines/PL_Incremental_Sync.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": {
                "description": "Name of the Azure Data Factory instance"
            }
        }
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/PL_Incremental_Sync')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "Delta/incremental synchronization pipeline for ongoing sync after initial migration. Uses SharePoint modified date filters to identify files changed since last sync. Updates watermark table after successful sync.",
                "activities": [
                    {
                        "name": "Lookup_LibrariesForSync",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.00:10:00",
                            "retry": 3,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "AzureSqlSource",
                                "sqlReaderQuery": "SELECT \n    mc.Id,\n    mc.SiteUrl,\n    mc.LibraryName,\n    ISNULL(iw.LastModifiedDate, '1900-01-01') AS LastModifiedDate,\n    ISNULL(iw.LastSyncTime, '1900-01-01') AS LastSyncTime\nFROM dbo.MigrationControl mc\nLEFT JOIN dbo.IncrementalWatermark iw \n    ON mc.SiteUrl = iw.SiteUrl AND mc.LibraryName = iw.LibraryName\nWHERE mc.Status = 'Completed' \nAND mc.ValidationStatus = 'Validated'\nAND mc.EnableIncrementalSync = 1",
                                "queryTimeout": "00:05:00",
                                "partitionOption": "None"
                            },
                            "dataset": {
                                "referenceName": "DS_SQL_MigrationControl",
                                "type": "DatasetReference",
                                "parameters": {
                                    "SchemaName": "dbo",
                                    "TableName": "MigrationControl"
                                }
                            },
                            "firstRowOnly": false
                        }
                    },
                    {
                        "name": "ForEach_LibrarySync",
                        "type": "ForEach",
                        "dependsOn": [
                            {
                                "activity": "Lookup_LibrariesForSync",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('Lookup_LibrariesForSync').output.value",
                                "type": "Expression"
                            },
                            "isSequential": false,
                            "batchCount": 4,
                            "activities": [
                                {
                                    "name": "Get_ModifiedFiles",
                                    "type": "WebActivity",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.00:10:00",
                                        "retry": 3,
                                        "retryIntervalInSeconds": 60,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "method": "GET",
                                        "headers": {
                                            "Accept": "application/json;odata=verbose"
                                        },
                                        "url": {
                                            "value": "@concat(pipeline().parameters.SharePointTenantUrl, item().SiteUrl, '/_api/web/lists/getbytitle(''', item().LibraryName, ''')/items?$filter=Modified ge datetime''', item().LastModifiedDate, '''&$select=FileRef,FileLeafRef,File_x0020_Size,Modified,UniqueId&$expand=File&$top=5000')",
                                            "type": "Expression"
                                        },
                                        "authentication": {
                                            "type": "MSI",
                                            "resource": {
                                                "value": "@concat(pipeline().parameters.SharePointTenantUrl, '/')",
                                                "type": "Expression"
                                            }
                                        }
                                    }
                                },
                                {
                                    "name": "If_HasModifiedFiles",
                                    "type": "IfCondition",
                                    "dependsOn": [
                                        {
                                            "activity": "Get_ModifiedFiles",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "userProperties": [],
                                    "typeProperties": {
                                        "expression": {
                                            "value": "@greater(length(activity('Get_ModifiedFiles').output.d.results), 0)",
                                            "type": "Expression"
                                        },
                                        "ifTrueActivities": [
                                            {
                                                "name": "ForEach_ModifiedFile",
                                                "type": "ForEach",
                                                "dependsOn": [],
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "items": {
                                                        "value": "@activity('Get_ModifiedFiles').output.d.results",
                                                        "type": "Expression"
                                                    },
                                                    "isSequential": false,
                                                    "batchCount": 10,
                                                    "activities": [
                                                        {
                                                            "name": "Copy_ModifiedFile",
                                                            "type": "Copy",
                                                            "dependsOn": [],
                                                            "policy": {
                                                                "timeout": "0.00:30:00",
                                                                "retry": 3,
                                                                "retryIntervalInSeconds": 60,
                                                                "secureOutput": false,
                                                                "secureInput": false
                                                            },
                                                            "userProperties": [],
                                                            "typeProperties": {
                                                                "source": {
                                                                    "type": "BinarySource",
                                                                    "storeSettings": {
                                                                        "type": "HttpReadSettings",
                                                                        "requestMethod": "GET",
                                                                        "requestTimeout": "00:10:00"
                                                                    },
                                                                    "formatSettings": {
                                                                        "type": "BinaryReadSettings"
                                                                    }
                                                                },
                                                                "sink": {
                                                                    "type": "BinarySink",
                                                                    "storeSettings": {
                                                                        "type": "AzureBlobFSWriteSettings"
                                                                    }
                                                                },
                                                                "enableStaging": false
                                                            },
                                                            "inputs": [
                                                                {
                                                                    "referenceName": "DS_SharePoint_Binary_HTTP",
                                                                    "type": "DatasetReference",
                                                                    "parameters": {
                                                                        "FileUrl": {
                                                                            "value": "@concat(pipeline().parameters.SharePointTenantUrl, item().FileRef)",
                                                                            "type": "Expression"
                                                                        }
                                                                    }
                                                                }
                                                            ],
                                                            "outputs": [
                                                                {
                                                                    "referenceName": "DS_ADLS_Binary_Sink",
                                                                    "type": "DatasetReference",
                                                                    "parameters": {
                                                                        "ContainerName": {
                                                                            "value": "@pipeline().parameters.ContainerName",
                                                                            "type": "Expression"
                                                                        },
                                                                        "SiteName": {
                                                                            "value": "@replace(item().SiteUrl, '/sites/', '')",
                                                                            "type": "Expression"
                                                                        },
                                                                        "LibraryName": {
                                                                            "value": "@item().LibraryName",
                                                                            "type": "Expression"
                                                                        },
                                                                        "FolderPath": {
                                                                            "value": "@replace(replace(item().FileRef, concat(item().SiteUrl, '/', item().LibraryName, '/'), ''), item().FileLeafRef, '')",
                                                                            "type": "Expression"
                                                                        },
                                                                        "FileName": {
                                                                            "value": "@item().FileLeafRef",
                                                                            "type": "Expression"
                                                                        }
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "name": "Log_IncrementalCopy",
                                                            "type": "SqlServerStoredProcedure",
                                                            "dependsOn": [
                                                                {
                                                                    "activity": "Copy_ModifiedFile",
                                                                    "dependencyConditions": [
                                                                        "Succeeded"
                                                                    ]
                                                                }
                                                            ],
                                                            "policy": {
                                                                "timeout": "0.00:05:00",
                                                                "retry": 2,
                                                                "retryIntervalInSeconds": 30,
                                                                "secureOutput": false,
                                                                "secureInput": false
                                                            },
                                                            "userProperties": [],
                                                            "typeProperties": {
                                                                "storedProcedureName": "[dbo].[usp_LogFileAudit]",
                                                                "storedProcedureParameters": {
                                                                    "FileName": {
                                                                        "value": {
                                                                            "value": "@item().FileLeafRef",
                                                                            "type": "Expression"
                                                                        },
                                                                        "type": "String"
                                                                    },
                                                                    "SourcePath": {
                                                                        "value": {
                                                                            "value": "@item().FileRef",
                                                                            "type": "Expression"
                                                                        },
                                                                        "type": "String"
                                                                    },
                                                                    "DestinationPath": {
                                                                        "value": {
                                                                            "value": "@concat(pipeline().parameters.ContainerName, '/', replace(item().SiteUrl, '/sites/', ''), '/', item().LibraryName, '/', item().FileLeafRef)",
                                                                            "type": "Expression"
                                                                        },
                                                                        "type": "String"
                                                                    },
                                                                    "FileSizeBytes": {
                                                                        "value": {
                                                                            "value": "@item().File_x0020_Size",
                                                                            "type": "Expression"
                                                                        },
                                                                        "type": "Int64"
                                                                    },
                                                                    "MigrationStatus": {
                                                                        "value": "IncrementalSync",
                                                                        "type": "String"
                                                                    },
                                                                    "PipelineRunId": {
                                                                        "value": {
                                                                            "value": "@pipeline().RunId",
                                                                            "type": "Expression"
                                                                        },
                                                                        "type": "String"
                                                                    },
                                                                    "ErrorDetails": {
                                                                        "value": null,
                                                                        "type": "String"
                                                                    }
                                                                }
                                                            },
                                                            "linkedServiceName": {
                                                                "referenceName": "LS_AzureSqlDatabase",
                                                                "type": "LinkedServiceReference"
                                                            }
                                                        }
                                                    ]
                                                },
                                                {
                                                    "name": "Update_Watermark",
                                                    "type": "SqlServerStoredProcedure",
                                                    "dependsOn": [
                                                        {
                                                            "activity": "ForEach_ModifiedFile",
                                                            "dependencyConditions": [
                                                                "Succeeded"
                                                            ]
                                                        }
                                                    ],
                                                    "policy": {
                                                        "timeout": "0.00:05:00",
                                                        "retry": 2,
                                                        "retryIntervalInSeconds": 30,
                                                        "secureOutput": false,
                                                        "secureInput": false
                                                    },
                                                    "userProperties": [],
                                                    "typeProperties": {
                                                        "storedProcedureName": "[dbo].[usp_UpdateWatermark]",
                                                        "storedProcedureParameters": {
                                                            "SiteUrl": {
                                                                "value": {
                                                                    "value": "@item().SiteUrl",
                                                                    "type": "Expression"
                                                                },
                                                                "type": "String"
                                                            },
                                                            "LibraryName": {
                                                                "value": {
                                                                    "value": "@item().LibraryName",
                                                                    "type": "Expression"
                                                                },
                                                                "type": "String"
                                                            },
                                                            "LastModifiedDate": {
                                                                "value": {
                                                                    "value": "@utcNow()",
                                                                    "type": "Expression"
                                                                },
                                                                "type": "DateTime"
                                                            },
                                                            "LastSyncTime": {
                                                                "value": {
                                                                    "value": "@utcNow()",
                                                                    "type": "Expression"
                                                                },
                                                                "type": "DateTime"
                                                            }
                                                        }
                                                    },
                                                    "linkedServiceName": {
                                                        "referenceName": "LS_AzureSqlDatabase",
                                                        "type": "LinkedServiceReference"
                                                    }
                                                }
                                            ]
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    {
                        "name": "Log_SyncComplete",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "ForEach_LibrarySync",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.00:05:00",
                            "retry": 2,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[dbo].[usp_LogSyncRun]",
                            "storedProcedureParameters": {
                                "PipelineRunId": {
                                    "value": {
                                        "value": "@pipeline().RunId",
                                        "type": "Expression"
                                    },
                                    "type": "String"
                                },
                                "SyncType": {
                                    "value": "Incremental",
                                    "type": "String"
                                },
                                "LibrariesProcessed": {
                                    "value": {
                                        "value": "@activity('Lookup_LibrariesForSync').output.count",
                                        "type": "Expression"
                                    },
                                    "type": "Int32"
                                },
                                "CompletionTime": {
                                    "value": {
                                        "value": "@utcNow()",
                                        "type": "Expression"
                                    },
                                    "type": "DateTime"
                                }
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "LS_AzureSqlDatabase",
                            "type": "LinkedServiceReference"
                        }
                    }
                ],
                "parameters": {
                    "SharePointTenantUrl": {
                        "type": "string",
                        "defaultValue": "https://hydroone.sharepoint.com"
                    },
                    "ContainerName": {
                        "type": "string",
                        "defaultValue": "sharepoint-migration"
                    }
                },
                "annotations": [
                    "incremental-sync",
                    "delta-migration",
                    "hydro-one-migration",
                    "ongoing-sync"
                ],
                "folder": {
                    "name": "SharePoint Migration"
                }
            }
        }
    ]
}
