hydro-one-sharepoint-migration-poc/adf-templates/pipelines/PL_Migrate_Single_Library.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": {
                "description": "Name of the Azure Data Factory instance"
            }
        }
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/PL_Migrate_Single_Library')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "Production pipeline to migrate a single SharePoint document library to ADLS Gen2 using Microsoft Graph API delta query. Enumerates ALL files at ALL folder depths via /root/delta, handles pagination via Until loop with @odata.nextLink, refreshes OAuth2 token every 45 minutes, and applies configurable throttle delays between pages.",
                "activities": [
                    {
                        "name": "Update_Status_InProgress",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [],
                        "policy": { "timeout": "0.00:05:00", "retry": 2, "retryIntervalInSeconds": 30, "secureOutput": false, "secureInput": false },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[dbo].[usp_UpdateMigrationStatus]",
                            "storedProcedureParameters": {
                                "Id": { "value": { "value": "@pipeline().parameters.ControlTableId", "type": "Expression" }, "type": "Int32" },
                                "Status": { "value": "InProgress", "type": "String" },
                                "StartTime": { "value": { "value": "@utcNow()", "type": "Expression" }, "type": "DateTime" },
                                "BatchId": { "value": { "value": "@pipeline().parameters.BatchId", "type": "Expression" }, "type": "String" }
                            }
                        },
                        "linkedServiceName": { "referenceName": "LS_AzureSqlDatabase", "type": "LinkedServiceReference" }
                    },
                    {
                        "name": "Get_ClientSecret",
                        "description": "Retrieve the Service Principal client secret from Key Vault",
                        "type": "WebActivity",
                        "dependsOn": [],
                        "policy": { "timeout": "0.00:05:00", "retry": 2, "retryIntervalInSeconds": 30, "secureOutput": true, "secureInput": false },
                        "userProperties": [],
                        "typeProperties": {
                            "method": "GET",
                            "url": { "value": "@concat(pipeline().parameters.KeyVaultUrl, '/secrets/sharepoint-client-secret?api-version=7.0')", "type": "Expression" },
                            "authentication": { "type": "MSI", "resource": "https://vault.azure.net" }
                        }
                    },
                    {
                        "name": "Get_AccessToken",
                        "description": "Acquire OAuth2 token for Microsoft Graph API",
                        "type": "WebActivity",
                        "dependsOn": [ { "activity": "Get_ClientSecret", "dependencyConditions": ["Succeeded"] } ],
                        "policy": { "timeout": "0.00:05:00", "retry": 2, "retryIntervalInSeconds": 30, "secureOutput": true, "secureInput": true },
                        "userProperties": [],
                        "typeProperties": {
                            "method": "POST",
                            "headers": { "Content-Type": "application/x-www-form-urlencoded" },
                            "url": { "value": "@concat('https://login.microsoftonline.com/', pipeline().parameters.ServicePrincipalTenantId, '/oauth2/v2.0/token')", "type": "Expression" },
                            "body": { "value": "@concat('grant_type=client_credentials&client_id=', pipeline().parameters.ServicePrincipalId, '&client_secret=', encodeUriComponent(activity('Get_ClientSecret').output.value), '&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default')", "type": "Expression" }
                        }
                    },
                    {
                        "name": "Set_AccessToken",
                        "type": "SetVariable",
                        "dependsOn": [ { "activity": "Get_AccessToken", "dependencyConditions": ["Succeeded"] } ],
                        "policy": { "secureOutput": true, "secureInput": true },
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "AccessToken",
                            "value": { "value": "@activity('Get_AccessToken').output.access_token", "type": "Expression" }
                        }
                    },
                    {
                        "name": "Set_TokenAcquiredTime",
                        "type": "SetVariable",
                        "dependsOn": [ { "activity": "Set_AccessToken", "dependencyConditions": ["Succeeded"] } ],
                        "policy": { "secureOutput": false, "secureInput": false },
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "TokenAcquiredTime",
                            "value": { "value": "@utcNow()", "type": "Expression" }
                        }
                    },
                    {
                        "name": "Get_Drive",
                        "description": "Resolve SharePoint site to Graph drive ID",
                        "type": "WebActivity",
                        "dependsOn": [
                            { "activity": "Set_TokenAcquiredTime", "dependencyConditions": ["Succeeded"] },
                            { "activity": "Update_Status_InProgress", "dependencyConditions": ["Succeeded"] }
                        ],
                        "policy": { "timeout": "0.00:05:00", "retry": 2, "retryIntervalInSeconds": 30, "secureOutput": false, "secureInput": true },
                        "userProperties": [],
                        "typeProperties": {
                            "method": "GET",
                            "headers": {
                                "Authorization": { "value": "@concat('Bearer ', variables('AccessToken'))", "type": "Expression" }
                            },
                            "url": { "value": "@concat('https://graph.microsoft.com/v1.0/sites/', replace(replace(pipeline().parameters.SharePointTenantUrl, 'https://', ''), '/', ''), ':', pipeline().parameters.SiteUrl, ':/drive?$select=id,name')", "type": "Expression" }
                        }
                    },
                    {
                        "name": "Set_DriveId",
                        "type": "SetVariable",
                        "dependsOn": [ { "activity": "Get_Drive", "dependencyConditions": ["Succeeded"] } ],
                        "policy": { "secureOutput": false, "secureInput": false },
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "DriveId",
                            "value": { "value": "@activity('Get_Drive').output.id", "type": "Expression" }
                        }
                    },
                    {
                        "name": "Set_InitialDeltaUrl",
                        "description": "Set the initial delta query URL with configurable page size",
                        "type": "SetVariable",
                        "dependsOn": [ { "activity": "Set_DriveId", "dependencyConditions": ["Succeeded"] } ],
                        "policy": { "secureOutput": false, "secureInput": false },
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "CurrentPageUrl",
                            "value": { "value": "@concat('https://graph.microsoft.com/v1.0/drives/', variables('DriveId'), '/root/delta?$top=', string(pipeline().parameters.PageSize))", "type": "Expression" }
                        }
                    },
                    {
                        "name": "Until_AllPagesProcessed",
                        "description": "Paginate through all delta pages until no more @odata.nextLink is returned",
                        "type": "Until",
                        "dependsOn": [ { "activity": "Set_InitialDeltaUrl", "dependencyConditions": ["Succeeded"] } ],
                        "userProperties": [],
                        "typeProperties": {
                            "expression": { "value": "@equals(variables('HasMorePages'), false)", "type": "Expression" },
                            "activities": [
                                {
                                    "name": "If_TokenExpiring",
                                    "description": "Check if token is older than 45 minutes (2700 seconds) and refresh if needed",
                                    "type": "IfCondition",
                                    "dependsOn": [],
                                    "userProperties": [],
                                    "typeProperties": {
                                        "expression": { "value": "@greater(div(sub(ticks(utcNow()), ticks(variables('TokenAcquiredTime'))), 10000000), 2700)", "type": "Expression" },
                                        "ifTrueActivities": [
                                            {
                                                "name": "Refresh_ClientSecret",
                                                "type": "WebActivity",
                                                "dependsOn": [],
                                                "policy": { "timeout": "0.00:05:00", "retry": 2, "retryIntervalInSeconds": 30, "secureOutput": true, "secureInput": false },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "method": "GET",
                                                    "url": { "value": "@concat(pipeline().parameters.KeyVaultUrl, '/secrets/sharepoint-client-secret?api-version=7.0')", "type": "Expression" },
                                                    "authentication": { "type": "MSI", "resource": "https://vault.azure.net" }
                                                }
                                            },
                                            {
                                                "name": "Refresh_AccessToken",
                                                "type": "WebActivity",
                                                "dependsOn": [ { "activity": "Refresh_ClientSecret", "dependencyConditions": ["Succeeded"] } ],
                                                "policy": { "timeout": "0.00:05:00", "retry": 2, "retryIntervalInSeconds": 30, "secureOutput": true, "secureInput": true },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "method": "POST",
                                                    "headers": { "Content-Type": "application/x-www-form-urlencoded" },
                                                    "url": { "value": "@concat('https://login.microsoftonline.com/', pipeline().parameters.ServicePrincipalTenantId, '/oauth2/v2.0/token')", "type": "Expression" },
                                                    "body": { "value": "@concat('grant_type=client_credentials&client_id=', pipeline().parameters.ServicePrincipalId, '&client_secret=', encodeUriComponent(activity('Refresh_ClientSecret').output.value), '&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default')", "type": "Expression" }
                                                }
                                            },
                                            {
                                                "name": "Set_RefreshedToken",
                                                "type": "SetVariable",
                                                "dependsOn": [ { "activity": "Refresh_AccessToken", "dependencyConditions": ["Succeeded"] } ],
                                                "policy": { "secureOutput": true, "secureInput": true },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "variableName": "AccessToken",
                                                    "value": { "value": "@activity('Refresh_AccessToken').output.access_token", "type": "Expression" }
                                                }
                                            },
                                            {
                                                "name": "Set_RefreshedTokenTime",
                                                "type": "SetVariable",
                                                "dependsOn": [ { "activity": "Set_RefreshedToken", "dependencyConditions": ["Succeeded"] } ],
                                                "policy": { "secureOutput": false, "secureInput": false },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "variableName": "TokenAcquiredTime",
                                                    "value": { "value": "@utcNow()", "type": "Expression" }
                                                }
                                            }
                                        ]
                                    }
                                },
                                {
                                    "name": "Get_DeltaPage",
                                    "description": "Fetch current page of delta results from Graph API",
                                    "type": "WebActivity",
                                    "dependsOn": [ { "activity": "If_TokenExpiring", "dependencyConditions": ["Succeeded"] } ],
                                    "policy": { "timeout": "0.00:10:00", "retry": 5, "retryIntervalInSeconds": 60, "secureOutput": false, "secureInput": true },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "method": "GET",
                                        "headers": {
                                            "Authorization": { "value": "@concat('Bearer ', variables('AccessToken'))", "type": "Expression" }
                                        },
                                        "url": { "value": "@variables('CurrentPageUrl')", "type": "Expression" }
                                    }
                                },
                                {
                                    "name": "Filter_PageFiles",
                                    "description": "Filter delta page to only file items (exclude folders and deleted items)",
                                    "type": "Filter",
                                    "dependsOn": [ { "activity": "Get_DeltaPage", "dependencyConditions": ["Succeeded"] } ],
                                    "userProperties": [],
                                    "typeProperties": {
                                        "items": { "value": "@activity('Get_DeltaPage').output.value", "type": "Expression" },
                                        "condition": { "value": "@and(contains(string(item()), '\"file\"'), not(contains(string(item()), '\"deleted\"')))", "type": "Expression" }
                                    }
                                },
                                {
                                    "name": "ForEach_CopyFile",
                                    "description": "Copy each file from this delta page. Handles empty arrays gracefully (0 iterations).",
                                    "type": "ForEach",
                                    "dependsOn": [ { "activity": "Filter_PageFiles", "dependencyConditions": ["Succeeded"] } ],
                                    "userProperties": [],
                                    "typeProperties": {
                                        "items": { "value": "@activity('Filter_PageFiles').output.value", "type": "Expression" },
                                        "isSequential": false,
                                        "batchCount": 10,
                                        "activities": [
                                            {
                                                "name": "Copy_SingleFile",
                                                "type": "Copy",
                                                "dependsOn": [],
                                                "policy": { "timeout": "0.01:00:00", "retry": 5, "retryIntervalInSeconds": 60, "secureOutput": false, "secureInput": false },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "source": {
                                                        "type": "BinarySource",
                                                        "storeSettings": {
                                                            "type": "HttpReadSettings",
                                                            "requestMethod": "GET",
                                                            "additionalHeaders": { "value": "@concat('Authorization: Bearer ', variables('AccessToken'))", "type": "Expression" },
                                                            "requestTimeout": "00:30:00"
                                                        },
                                                        "formatSettings": { "type": "BinaryReadSettings" }
                                                    },
                                                    "sink": {
                                                        "type": "BinarySink",
                                                        "storeSettings": { "type": "AzureBlobFSWriteSettings" }
                                                    },
                                                    "enableStaging": false
                                                },
                                                "inputs": [
                                                    {
                                                        "referenceName": "DS_Graph_Content_Download",
                                                        "type": "DatasetReference",
                                                        "parameters": {
                                                            "ContentPath": { "value": "@concat('/v1.0/drives/', variables('DriveId'), '/items/', item().id, '/content')", "type": "Expression" }
                                                        }
                                                    }
                                                ],
                                                "outputs": [
                                                    {
                                                        "referenceName": "DS_ADLS_Binary_Sink",
                                                        "type": "DatasetReference",
                                                        "parameters": {
                                                            "ContainerName": { "value": "@pipeline().parameters.ContainerName", "type": "Expression" },
                                                            "SiteName": { "value": "@replace(pipeline().parameters.SiteUrl, '/sites/', '')", "type": "Expression" },
                                                            "LibraryName": { "value": "@pipeline().parameters.LibraryName", "type": "Expression" },
                                                            "FolderPath": { "value": "@if(contains(item(), 'parentReference'), replace(replace(item().parentReference.path, concat('/drives/', variables('DriveId'), '/root:'), ''), concat('/drives/', variables('DriveId'), '/root'), ''), '')", "type": "Expression" },
                                                            "FileName": { "value": "@item().name", "type": "Expression" }
                                                        }
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "Log_FileSuccess",
                                                "type": "SqlServerStoredProcedure",
                                                "dependsOn": [ { "activity": "Copy_SingleFile", "dependencyConditions": ["Succeeded"] } ],
                                                "policy": { "timeout": "0.00:05:00", "retry": 2, "retryIntervalInSeconds": 30, "secureOutput": false, "secureInput": false },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "storedProcedureName": "[[dbo].[usp_LogFileAudit]",
                                                    "storedProcedureParameters": {
                                                        "FileName": { "value": { "value": "@item().name", "type": "Expression" }, "type": "String" },
                                                        "SourcePath": { "value": { "value": "@concat(pipeline().parameters.SiteUrl, '/', pipeline().parameters.LibraryName, if(contains(item(), 'parentReference'), replace(replace(item().parentReference.path, concat('/drives/', variables('DriveId'), '/root:'), ''), concat('/drives/', variables('DriveId'), '/root'), ''), ''), '/', item().name)", "type": "Expression" }, "type": "String" },
                                                        "DestinationPath": { "value": { "value": "@concat(pipeline().parameters.ContainerName, '/', replace(pipeline().parameters.SiteUrl, '/sites/', ''), '/', pipeline().parameters.LibraryName, if(contains(item(), 'parentReference'), replace(replace(item().parentReference.path, concat('/drives/', variables('DriveId'), '/root:'), ''), concat('/drives/', variables('DriveId'), '/root'), ''), ''), '/', item().name)", "type": "Expression" }, "type": "String" },
                                                        "FileSizeBytes": { "value": { "value": "@item().size", "type": "Expression" }, "type": "Int64" },
                                                        "MigrationStatus": { "value": "Success", "type": "String" },
                                                        "PipelineRunId": { "value": { "value": "@pipeline().RunId", "type": "Expression" }, "type": "String" },
                                                        "ErrorDetails": { "value": null, "type": "String" }
                                                    }
                                                },
                                                "linkedServiceName": { "referenceName": "LS_AzureSqlDatabase", "type": "LinkedServiceReference" }
                                            },
                                            {
                                                "name": "Log_FileFailure",
                                                "type": "SqlServerStoredProcedure",
                                                "dependsOn": [ { "activity": "Copy_SingleFile", "dependencyConditions": ["Failed"] } ],
                                                "policy": { "timeout": "0.00:05:00", "retry": 2, "retryIntervalInSeconds": 30, "secureOutput": false, "secureInput": false },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "storedProcedureName": "[[dbo].[usp_LogFileAudit]",
                                                    "storedProcedureParameters": {
                                                        "FileName": { "value": { "value": "@item().name", "type": "Expression" }, "type": "String" },
                                                        "SourcePath": { "value": { "value": "@concat(pipeline().parameters.SiteUrl, '/', pipeline().parameters.LibraryName, if(contains(item(), 'parentReference'), replace(replace(item().parentReference.path, concat('/drives/', variables('DriveId'), '/root:'), ''), concat('/drives/', variables('DriveId'), '/root'), ''), ''), '/', item().name)", "type": "Expression" }, "type": "String" },
                                                        "DestinationPath": { "value": { "value": "@concat(pipeline().parameters.ContainerName, '/', replace(pipeline().parameters.SiteUrl, '/sites/', ''), '/', pipeline().parameters.LibraryName, if(contains(item(), 'parentReference'), replace(replace(item().parentReference.path, concat('/drives/', variables('DriveId'), '/root:'), ''), concat('/drives/', variables('DriveId'), '/root'), ''), ''), '/', item().name)", "type": "Expression" }, "type": "String" },
                                                        "FileSizeBytes": { "value": { "value": "@item().size", "type": "Expression" }, "type": "Int64" },
                                                        "MigrationStatus": { "value": "Failed", "type": "String" },
                                                        "PipelineRunId": { "value": { "value": "@pipeline().RunId", "type": "Expression" }, "type": "String" },
                                                        "ErrorDetails": { "value": { "value": "@activity('Copy_SingleFile').output.errors[0].Message", "type": "Expression" }, "type": "String" }
                                                    }
                                                },
                                                "linkedServiceName": { "referenceName": "LS_AzureSqlDatabase", "type": "LinkedServiceReference" }
                                            }
                                        ]
                                    }
                                },
                                {
                                    "name": "If_HasNextPage",
                                    "description": "Check if the delta response contains @odata.nextLink for more pages",
                                    "type": "IfCondition",
                                    "dependsOn": [ { "activity": "ForEach_CopyFile", "dependencyConditions": ["Succeeded"] } ],
                                    "userProperties": [],
                                    "typeProperties": {
                                        "expression": { "value": "@contains(string(activity('Get_DeltaPage').output), '@odata.nextLink')", "type": "Expression" },
                                        "ifTrueActivities": [
                                            {
                                                "name": "Set_NextPageUrl",
                                                "type": "SetVariable",
                                                "dependsOn": [],
                                                "policy": { "secureOutput": false, "secureInput": false },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "variableName": "CurrentPageUrl",
                                                    "value": { "value": "@activity('Get_DeltaPage').output['@odata.nextLink']", "type": "Expression" }
                                                }
                                            },
                                            {
                                                "name": "Wait_ThrottleDelay",
                                                "description": "Wait between pages to avoid Graph API throttling",
                                                "type": "Wait",
                                                "dependsOn": [ { "activity": "Set_NextPageUrl", "dependencyConditions": ["Succeeded"] } ],
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "waitTimeInSeconds": { "value": "@pipeline().parameters.ThrottleDelaySeconds", "type": "Expression" }
                                                }
                                            }
                                        ],
                                        "ifFalseActivities": [
                                            {
                                                "name": "Set_HasMorePages_False",
                                                "type": "SetVariable",
                                                "dependsOn": [],
                                                "policy": { "secureOutput": false, "secureInput": false },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "variableName": "HasMorePages",
                                                    "value": { "value": "@bool(false)", "type": "Expression" }
                                                }
                                            },
                                            {
                                                "name": "Set_DeltaLink",
                                                "description": "Store the deltaLink for incremental sync use",
                                                "type": "SetVariable",
                                                "dependsOn": [ { "activity": "Set_HasMorePages_False", "dependencyConditions": ["Succeeded"] } ],
                                                "policy": { "secureOutput": false, "secureInput": false },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "variableName": "DeltaLink",
                                                    "value": { "value": "@if(contains(string(activity('Get_DeltaPage').output), '@odata.deltaLink'), activity('Get_DeltaPage').output['@odata.deltaLink'], '')", "type": "Expression" }
                                                }
                                            }
                                        ]
                                    }
                                }
                            ],
                            "timeout": "1.00:00:00"
                        }
                    },
                    {
                        "name": "Update_Status_Completed",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            { "activity": "Until_AllPagesProcessed", "dependencyConditions": ["Succeeded"] }
                        ],
                        "policy": { "timeout": "0.00:05:00", "retry": 2, "retryIntervalInSeconds": 30, "secureOutput": false, "secureInput": false },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[dbo].[usp_UpdateMigrationStatus]",
                            "storedProcedureParameters": {
                                "Id": { "value": { "value": "@pipeline().parameters.ControlTableId", "type": "Expression" }, "type": "Int32" },
                                "Status": { "value": "Completed", "type": "String" },
                                "EndTime": { "value": { "value": "@utcNow()", "type": "Expression" }, "type": "DateTime" },
                                "ErrorMessage": { "value": null, "type": "String" }
                            }
                        },
                        "linkedServiceName": { "referenceName": "LS_AzureSqlDatabase", "type": "LinkedServiceReference" }
                    },
                    {
                        "name": "Update_Status_Failed",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [ { "activity": "Until_AllPagesProcessed", "dependencyConditions": ["Failed"] } ],
                        "policy": { "timeout": "0.00:05:00", "retry": 2, "retryIntervalInSeconds": 30, "secureOutput": false, "secureInput": false },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[dbo].[usp_UpdateMigrationStatus]",
                            "storedProcedureParameters": {
                                "Id": { "value": { "value": "@pipeline().parameters.ControlTableId", "type": "Expression" }, "type": "Int32" },
                                "Status": { "value": "Failed", "type": "String" },
                                "EndTime": { "value": { "value": "@utcNow()", "type": "Expression" }, "type": "DateTime" },
                                "ErrorMessage": { "value": "Migration failed during delta page processing. Check pipeline run details.", "type": "String" },
                                "IncrementRetryCount": { "value": "1", "type": "Int32" }
                            }
                        },
                        "linkedServiceName": { "referenceName": "LS_AzureSqlDatabase", "type": "LinkedServiceReference" }
                    }
                ],
                "parameters": {
                    "SiteUrl": { "type": "string", "defaultValue": "/sites/SalesAndMarketing" },
                    "LibraryName": { "type": "string", "defaultValue": "Shared Documents" },
                    "ControlTableId": { "type": "int" },
                    "BatchId": { "type": "string" },
                    "ContainerName": { "type": "string", "defaultValue": "sharepoint-migration" },
                    "SharePointTenantUrl": { "type": "string", "defaultValue": "https://m365x52073746.sharepoint.com" },
                    "ThrottleDelaySeconds": { "type": "int", "defaultValue": 2 },
                    "ServicePrincipalId": { "type": "string", "defaultValue": "bca94bda-c22c-4cd6-a065-72b12ae88c91" },
                    "ServicePrincipalTenantId": { "type": "string", "defaultValue": "5447cfcd-3af1-439a-8157-760bd52b12df" },
                    "KeyVaultUrl": { "type": "string", "defaultValue": "https://kv-hydroone-test2.vault.azure.net" },
                    "PageSize": { "type": "int", "defaultValue": 200 },
                    "CopyBatchCount": { "type": "int", "defaultValue": 10 }
                },
                "variables": {
                    "AccessToken": { "type": "String", "defaultValue": "" },
                    "DriveId": { "type": "String", "defaultValue": "" },
                    "TokenAcquiredTime": { "type": "String", "defaultValue": "" },
                    "HasMorePages": { "type": "Boolean", "defaultValue": true },
                    "CurrentPageUrl": { "type": "String", "defaultValue": "" },
                    "DeltaLink": { "type": "String", "defaultValue": "" },
                    "FileCount": { "type": "Integer", "defaultValue": 0 },
                    "SuccessCount": { "type": "Integer", "defaultValue": 0 },
                    "FailureCount": { "type": "Integer", "defaultValue": 0 }
                },
                "annotations": [ "child-pipeline", "single-library", "hydro-one-migration", "graph-api", "delta-query", "production" ],
                "folder": { "name": "SharePoint Migration" }
            }
        }
    ]
}
